.breadcrumbs__list {
  margin: 0;
  padding: 0;

  display: grid;
  grid-column-gap: 9px;
  grid-auto-columns: repeat(auto-fit, 1fr) minmax(min-content, max-content);
  grid-auto-flow: column;
  justify-content: flex-start;
}
