.course-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 984px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}