.player-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-position: center center;
}

.player-button:hover {
  transition: opacity ease-out 1s;
  opacity: .7;
}
