.player-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-position: center center;
}
