.range-slider__progress {
  height: 6px;
  border-radius: 16px;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #FF6600;
  pointer-events: none;
}
