.breadcrumbs__item {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.breadcrumbs__item:last-child {
  font-weight: 400;
  color: #9397a3;
  overflow: initial;
  pointer-events: none;
  cursor: default;
}

.breadcrumbs__item::before {
  content: url(../../../images/arrow-right.svg);
  margin-right: 5px;
  width: 10px;
  height: 10px;
}

.breadcrumbs__item:first-child::before {
  content: '';
  margin-right: 0;
  width: 0;
  height: 0;
}
