.collapsing-list__button-icon {
  width: 24px;
  height: 24px;

  background: url(../../../images/sidebar_close-option.svg) no-repeat center center;
  background-size: 10px 10px;

  margin-left: 8px;
}

.collapsing-list__button-icon:hover {
  transition: opacity ease-out 1s;
  opacity: .7;
}
