.button {
	padding: 12px 24px;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.33;
	background-color: #fff;
	border: 1.2px solid #e6e7eb;
	border-radius: 16px;
	color: #f60;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 184px;
}

.button:hover {
	cursor: pointer;
}